*{  margin: 0;  padding: 0; }
li{list-style: none;}
#header-bundle{ height: 120px; color: white;background-color: rgb(0, 14, 95); line-height: 120px;text-align: center;font-size: 2.5em;}
#list-product,#list-order,#send-bundle,#send-bundle-pay,#terms-conditions{width: 75%;margin: auto;margin-top: 30px;}
.btn-green{background-color: rgb(0, 14, 95);}
#footer{
  margin-top: 50px;
  padding: 10px;
  background-color: rgb(244, 244, 243);
  text-align: center;
}
#footer li{
  line-height: 60px;
}
#terms-conditions{line-height: 35px;text-align: justify}
#terms-conditions h4{margin-bottom: 10px;margin-top: 10px;}
#send-bundle h5{color: rgb(98, 98, 98)!important;}
a:hover{text-decoration: none;}
#footer a{color: rgb(0, 37, 70);}

.header-footer{font-size: 1.5em;color:rgb(104, 104, 104);}
#send-bundle-pay{text-align: center;}
.nav-item .active{color:white!important;}
.cstm-height-card .card-img-top {
    height: 100px;
    object-fit: cover;
  }

@media screen and (max-width: 640px) {
  #list-product,#list-order,#send-bundle,#send-bundle-pay,#terms-conditions{width: 90%;}
}


